body {
	background-color: #FF5F6D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Lato;
}

.my-header {
	font-weight: 800;
	font-size: 3em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.2),
				 0px 18px 23px rgba(0,0,0,0.1);
	background-color:rgba(247, 247, 247, 1);
	margin-top: 5%;
	letter-spacing: 2px;
	border-radius:10px ; 
	}

.mv-text {
	font-weight: 600;
	letter-spacing: 1px;
	padding-top: 5px;
}